<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="Endpoints" type="Microsoft.Practices.SmartClient.EndpointCatalog.Configuration.EndpointSection, Microsoft.Practices.SmartClient.EndpointCatalog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Quickstarts.DisconnectedAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ConnectionMonitor" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
  </configSections>

  <ConnectionMonitor>
    <Connections>
      <add Type="DesktopConnection" Price="0"/>
    </Connections>
    <Networks>
      <add Name="Local" Address="http://localhost:1366/IntegerCalculator/"/>
    </Networks>
  </ConnectionMonitor>

  <appSettings>
    <add key="NonExistingURL" value="http://localhost:1366/IntegerCalculator/404"/>
  </appSettings>
  <connectionStrings>
    <add name="QueueDatabase" connectionString="DataSource=Datastore.sdf" providerName="System.Data.SqlServerCe.3.5" />
  </connectionStrings>
  
  <dataConfiguration defaultDatabase="QueueDatabase">
    <providerMappings>
      <add databaseType="Microsoft.Practices.SmartClient.EnterpriseLibrary.SmartClientDatabase, Microsoft.Practices.SmartClient.EnterpriseLibrary"
        name="System.Data.SqlServerCe.3.5" />
    </providerMappings>
  </dataConfiguration>

  <Endpoints>
    <EndpointItems>
      <add Name="IntegerCalculatorEndpoint" Address="http://localhost:1366/IntegerCalculator/IntegerCalculatorService.asmx" />
    </EndpointItems>
  </Endpoints>
  <applicationSettings>
    <Quickstarts.DisconnectedAgent.Properties.Settings>
      <setting name="CodeplexDiscussion" serializeAs="String">
        <value>http://www.codeplex.com/smartclient/Thread/List.aspx</value>
      </setting>
    </Quickstarts.DisconnectedAgent.Properties.Settings>
  </applicationSettings>
</configuration>