<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConnectionMonitor" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
		<section name="DuplicatedNetworks" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
		<section name="NoNameNetwork" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
		<section name="CustomConnection" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
	</configSections>

	<ConnectionMonitor>
		<Connections>
			<add Type="WiredConnection"  Price="2" />
			<add Type="WirelessConnection" Price="4" />
			<add Type="DesktopConnection" Price="8" />
		</Connections>
		<Networks>
			<add Name="Internet" Address="http://www.contoso.com" />
			<add Name="Work" Address="http://intranet" />
			<add Name="Home" Address="http://myserver" />
		</Networks>
	</ConnectionMonitor>

	<DuplicatedNetworks>
		<Networks>
			<add Name="Internet" Address="http://www.contoso.com" />
			<add Name="Work" Address="http://intranet" />
			<add Name="Internet" Address="http://myserver" />
		</Networks>
	</DuplicatedNetworks>

	<NoNameNetwork>
		<add Name="Internet" Address="http://www.contoso.com" />
		<add Name="" Address="http://intranet" />
		<add Name="Internet" Address="http://myserver" />

	</NoNameNetwork>

	<CustomConnection>
		<Connections>
			<add Type="WiredConnection"  Price="2" />
			<add Type="WirelessConnection" Price="4" />
			<add Type="DesktopConnection" Price="8" />
			<add Type="Microsoft.Practices.SmartClient.ConnectionMonitor.Tests.MyCustomConnection,SmartClient.ConnectionMonitor.Tests" Price="1" />
<!--			     			 Microsoft.Practices.SmartClient.ConnectionMonitor.Tests.ConnectionMonitorFactoryFixture+MyCustomConnection, SmartClient.ConnectionMonitor.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null -->
		</Connections>
		<Networks>
			<add Name="Internet" Address="http://www.contoso.com" />
			<add Name="Work" Address="http://intranet" />
			<add Name="Home" Address="http://myserver" />
		</Networks>
	 </CustomConnection>
</configuration>