<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
      <service name="QuickStart.RestaurantService.Host.MenuService" behaviorConfiguration="returnFaults">
        <endpoint contract="QuickStart.RestaurantService.Host.IMenuService" binding="wsHttpBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/QuickStart.RestaurantService.Host/MenuService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults" >
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>