using Microsoft.VisualStudio.TestTools.UnitTesting;
using System;
using System.Text;
using System.Collections.Generic;
using Microsoft.Practices.CompositeUI;
using $RootNamespace$.Infrastructure.Interface;
using System.Collections;
using $ModuleNamespace$.Tests.Support;

namespace $ModuleNamespace$.Tests
{
    /// <summary>
    /// Summary description for ModuleTestFixture
    /// </summary>
    [TestClass]
    public class ModuleTestFixture
    {        
                
    }    
}
