<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlRepositoryAdmin.Properties.Settings.ClickOnceFileRepositoryConnectionString"
            connectionString="Data Source=MVPDEVPC;Initial Catalog=ClickOnceFileRepository;Persist Security Info=True;User ID=SCSFUser;Password=pa$$word"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>