<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
		<section name="Endpoints" type="Microsoft.Practices.SmartClient.EndpointCatalog.Configuration.EndpointSection, Microsoft.Practices.SmartClient.EndpointCatalog" />
	</configSections>
  <dataConfiguration defaultDatabase="TestConnectionString">
    <providerMappings>
      <add databaseType="Microsoft.Practices.SmartClient.EnterpriseLibrary.SmartClientDatabase, Microsoft.Practices.SmartClient.EnterpriseLibrary"
        name="System.Data.SqlServerCe" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="TestConnectionString" connectionString="DataSource=Datastore.sdf;" providerName="System.Data.SqlServerCe" />
  </connectionStrings>

	<Endpoints>
		<EndpointItems>
			<add Name="MyHost" Address="http://default/MyHost" UserName="defaultUser" Password="4444">
				<NetworkItems>
					<add Name="Internet" Address="http://internet/MyHost" UserName="peter" Password="1234" Domain="myDomain" />
					<add Name="Work" Address="http://work/MyHost" UserName="chris" Password="3333"/>
				</NetworkItems>
			</add>
		</EndpointItems>
	</Endpoints>
</configuration>