<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalBank.Support.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalBank.Support.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=SCSF_GlobalBank;Integrated Security=True</value>
            </setting>
        </GlobalBank.Support.Properties.Settings>
    </userSettings>
</configuration>