<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConnectionMonitor" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
	</configSections>

	<ConnectionMonitor>
		<Connections>
			<add Type="WiredConnection" Price="2"/>
		</Connections>
		<Networks>
			<add Name="Local" Address="http://127.0.0.1"/>
			<add Name="Internet" Address="http://www.contoso.com"/>
		</Networks>
	</ConnectionMonitor>

</configuration>