<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Welcome to the Guidance Automation Toolkit</title>
</head>

<body style="margin:0px">
<table width="100%"  style="background-color:#0077D5">
<tr><td>
<img src="header.gif" align="right" />
</td></tr>
</table>

<div id="nstext" style="margin:5px"  valign="bottom">
<h1 style="font-family:tahoma; font-weight:bold; font-size:13px">    Welcome to the Smart Client Software Factory Guidance Package</h1>
    <p class="ppBodyText" style="margin: 5pt 0in 0pt 0.5in; text-indent: 0in; font-weight: normal; font-size: 11px; font-family: tahoma; list-style-type: disc;">
        <span style="font-size: 10pt; font-family: Arial">
</span></p>
    <p class="ppBulletList" style="margin: 5pt 0in 0pt 1in; font-weight: normal; font-size: 11px; font-family: tahoma; list-style-type: disc;">
        <span style="font-size: 10pt; font-family: Arial"></span></p>
<div  style="font-family:tahoma; font-weight:normal; font-size:11px; list-style-type: disc;">
    <span>With the Smart Client Software Factory, 
    architects and developers can quickly incorporate many of the 
    proven practices and patterns of building composite smart client applications. 
    These practices and patterns have been identified during the development 
    of many smart client applications and their components.

    By using the software factory, architects and developers can focus their 
    efforts on business opportunities and create smart client applications that 
    effectively address the needs of their organizations. 

&nbsp;</span>
        <br />
        <br />
        The recipes included in this Guidance Package automate common development tasks
        such as: creation of the solution structure, adding modules, adding views and presenters,
        and adding disconnected service agents. &nbsp;</div>
</div>
</body>

</html>