using System;
using System.Text;
using System.Collections.Generic;
using Microsoft.VisualStudio.TestTools.UnitTesting;
using $ModuleNamespace$.Tests.Support;
using $RootNamespace$.Infrastructure.Interface;

namespace $ModuleNamespace$.Tests
{
    /// <summary>
    /// Summary description for ModuleControllerTestFixture
    /// </summary>
    [TestClass]
    public class ModuleControllerTestFixture
    {
        // This is a sample test checking that ModuleController handles Foo event
        // 
        //[TestMethod]
        //public void ModuleControllerHandlesEventFoo()
        //{
        //    TestableRootWorkItem rootWorkItem = new TestableRootWorkItem();
        //    ControlledWorkItem<ModuleController> wi = rootWorkItem.WorkItems.AddNew<ControlledWorkItem<ModuleController>>();
        //    Assert.IsTrue(wi.EventTopics.Contains("Foo"));
        //    Assert.IsTrue(wi.EventTopics["Foo"].ContainsSubscription(wi.Controller, "OnStatusUpdate"));
        //}
    }
}
