<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlRepositoryProviderLib.Properties.Settings.ClickOnceFileRepositoryConnectionString"
            connectionString="Data Source=MVPDEVPC;Initial Catalog=ClickOnceFileRepository;Integrated Security = true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>