<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="Endpoints" type="Microsoft.Practices.SmartClient.EndpointCatalog.Configuration.EndpointSection, Microsoft.Practices.SmartClient.EndpointCatalog" />
  </configSections>
	<Endpoints>
    <EndpointItems>
      <add Name="WebService1" Address="http://default-host.com/WebService1.asmx" UserName="default-user-name" Password="default-password" Domain="default-domain">
        <NetworkItems>
          <add Name="Internet" Address="http://internet-host.com/WebService1.asmx"
               UserName="internet-user-name" Password="internet-password" />
          <add Name="Work" Address="http://work-host.com/WebService1.asmx"
               UserName="work-user-name" Password="work-password"  />
        </NetworkItems>
      </add>
      <add Name="WebService2" Address="http://default-host.com/WebService2.asmx" UserName="default-user-name" Password="default-password" Domain="default-domain">
        <NetworkItems>
          <add Name="Internet" Address="http://internet-host.com/WebService2.asmx"
               UserName="internet-user-name" Password="internet-password" />
        </NetworkItems>
      </add>
      <add Name="WebService3" Address="http://default-host.com/WebService3.asmx" UserName="default-user-name" Password="default-password" Domain="default-domain">
        <NetworkItems>
          <add Name="Work" Address="http://work-host.com/WebService3.asmx"/>
        </NetworkItems>
      </add>
      <add Name="WebService4" Address="http://default-host.com/WebService4.asmx" UserName="default-user-name" Password="default-password" Domain="default-domain"/>
      <add Name="WebService5">
        <NetworkItems>
          <add Name="Work" Address="http://work-host.com/WebService5.asmx"
               UserName="work-user-name" Password="work-password"/>
        </NetworkItems>
      </add>
    </EndpointItems>
  </Endpoints>
</configuration>
