USE [ClickOnceFileRepository]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Files]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Files](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [nvarchar](256) NOT NULL,
	[FileBits] [image] NOT NULL,
	[Modified] [datetime] NOT NULL CONSTRAINT [DF_Files_Modified]  DEFAULT (getdate()),
	[OriginalPath] [nvarchar](256) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeleteFiles]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'------------------------------------------------------------------------------------------------------------------------
-- Date Created: Sunday, September 17, 2006
-- Created By:   Generated by CodeSmith
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[DeleteFiles]
	@FileID int,
	@Modified datetime
AS

DELETE FROM [dbo].[Files]
WHERE
	
	[FileID] = @FileID
	AND [Modified] = @Modified
' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SelectFiles]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'------------------------------------------------------------------------------------------------------------------------
-- Date Created: Sunday, September 17, 2006
-- Created By:   Generated by CodeSmith
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SelectFiles]
	@FileID int = NULL
AS
	SET NOCOUNT ON
	SELECT
		[FileID],
		[FilePath],
		[FileBits],
		[Modified],
		[OriginalPath]
	FROM
		[dbo].[Files]
	WHERE
		[FileID] = ISNULL(@FileID, [FileID])
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InsertFiles]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
------------------------------------------------------------------------------------------------------------------------
-- Date Created: Sunday, September 17, 2006
-- Created By:   Generated by CodeSmith
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[InsertFiles]
	@FilePath nvarchar(256),
	@FileBits image,
	@Modified datetime OUTPUT,
	@OriginalPath nvarchar(256),
	@FileID int OUTPUT
AS

SET @Modified=getdate()
INSERT INTO [dbo].[Files] (
	[FilePath],
	[FileBits],
	[Modified],
	[OriginalPath]
) VALUES (
	@FilePath,
	@FileBits,
	@Modified,
	@OriginalPath
)
SET @FileID = @@IDENTITY



' 
END
GO
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UpdateFiles]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'------------------------------------------------------------------------------------------------------------------------
-- Date Created: Sunday, September 17, 2006
-- Created By:   Generated by CodeSmith
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[UpdateFiles]
		@FileID int, 
		@FilePath nvarchar(256), 
		@FileBits image, 
		@Modified datetime OUTPUT, 
		@OriginalPath nvarchar(256) 
AS 
DECLARE @CurrentModified DateTime
	SET @CurrentModified = getdate()
UPDATE [dbo].[Files] SET 
	[FilePath] = @FilePath,[FileBits] = @FileBits,[Modified] = @CurrentModified,[OriginalPath] = @OriginalPath
WHERE
	[FileID] = @FileID
	AND [Modified] = @Modified

SET @Modified = @CurrentModified
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetFileBitsByPath]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GetFileBitsByPath]
(
	@FilePath nvarchar(256)
)
AS
	SET NOCOUNT ON;
SELECT FileBits FROM Files WHERE FilePath = @FilePath' 
END
