<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Endpoints" type="Microsoft.Practices.SmartClient.EndpointCatalog.Configuration.EndpointSection, Microsoft.Practices.SmartClient.EndpointCatalog" />
  </configSections>

  <Endpoints>
    <EndpointItems>
      <add Name="MyHost" Address="http://default/MyHost" UserName="defaultUser" Password="4444">
        <NetworkItems>
          <add Name="Internet" Address="http://internet/MyHost" UserName="peter" Password="1234" Domain="myDomain" />
          <add Name="Work" Address="http://work/MyHost" UserName="chris" Password="3333"/>
        </NetworkItems>
      </add>
      <add Name="NoDefault">
        <NetworkItems>
          <add Name="Internet" Address="http://internet/NoDefault" UserName="chris" Password="1234" />
          <add Name="Work" Address="http://work/NoDefault" UserName="peter" Password="3333" Domain="MyDomain" />
        </NetworkItems>
      </add>
    </EndpointItems>
  </Endpoints>

</configuration>