<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Connections" type="Microsoft.Practices.SmartClient.ConnectionMonitor.Configuration.ConnectionSettingsSection, Microsoft.Practices.SmartClient.ConnectionMonitor" />
	</configSections>

	<Connections>
		<ConnectionItems>
			<add Type="NicConnection" Price="2" Name="Local Area Connection" />
		</ConnectionItems>
	</Connections>

</configuration>